# Ignore large, unzipped/generated data files
data/gene_count_matrix.csv
data/normalized_gene_counts.csv

# Ignore RStudio and system files
*.Rproj.user/
.DS_Store
.RData
.Rhistory
DDLS_project_report.pdf
